@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body {
  background-color: black;
  color: white;
  font-family: "Inter Tight", sans-serif;
}